body{
  font-family: "Roboto";
  margin: 0;
}

ul{
  list-style-type: none;
}

.top-container{
  background-color: #1F2937;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.header-list{
  display: flex;
  gap: 25px;
}